* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #2980b9; /* fallback for old browsers */
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  padding: 40px 30px;
  width: 50%;
  min-width: 400px;
  position: absolute;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.15);
}

.fileira {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

input[type='range'] {
  width: 70%;
  height: 3.5px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #dcdcdc;
  border-radius: 3px;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #1c1c1c;
  border-radius: 50%;
  cursor: pointer;
}
